body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 20px;
}

.camera-box {
    position: relative;
    overflow: hidden; 
    border-radius: 8px;
    background: #000;
}

#camera {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: scaleX(-1); /* Efek Cermin */
}

/* UPDATE: scan-area dibuat Kotak Persegi */
.scan-area {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Ukuran fixed pixel agar pasti berbentuk KOTAK */
    width: 250px;  
    height: 250px;
    transform: translate(-50%, -50%);
    
    border: 4px solid #10b981; /* Warna Hijau */
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.6); /* Gelapkan area luar */
    z-index: 10;
    border-radius: 12px;
}

.hidden {
    display: none !important;
}